<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a home page</h1>
    <h3> <%= ["hello","bonjur","namaste"] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum tempora laboriosam laudantium, quae consequuntur sapiente labore quo nesciunt placeat corrupti quos numquam repudiandae incidunt facilis repellendus assumenda adipisci, ad molestiae.
    Libero ipsum impedit ipsam minima praesentium ratione recusandae illo cupiditate eum, labore rem consectetur est. Facere quia minima facilis quos! Molestias, aliquam vitae magnam laboriosam at unde tenetur ut totam?
    Quo, harum deserunt! Doloribus labore, laudantium animi tenetur aliquam eligendi. Nemo laboriosam suscipit nihil distinctio iure consequatur, blanditiis numquam ipsum minus exercitationem assumenda molestiae asperiores voluptate nostrum, repellat minima rem!
    </p>
    <button>click here!</button>
</body>
</html>